body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('LandscapeBoardwalk.jpg') no-repeat center center fixed;
    background-size: cover;
}

.logo {
    position: relative;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}

.header h1 {
    /* Text styles */
    font-size: 5em;
    font-family: 'Rock Salt', cursive;

    /* Margins */
    margin: 0 0 0.5em 0;
}

.header .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    padding: 1em;
    margin: 50px auto;
    border-radius: 18px;
    border: 2px solid dimgray;
    
    /* Text styles */
    color: rgb(32,32,32);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
    /* Background styles */
    background-color: silver;
    opacity: 0.7;
    filter: alpha(opacity=70);
}