 /*

Portfolio Main Template*

Color Scheme: 
	Sand Tan: #e1b382	
	Sand Tan Shadow: #c89666
	Night Blue: #2d545e
	Night Blue Shadow: #12343b

	Ragin Beige: #fff5d7
	Coral Pink: #ff5e6c
	Sleuthe Yellow: #feb300
	Pink Leaf: #ffaaab
*/

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url(fontawesome.css);

body {
    font-family: 'Lato', sans-serif;
}

#page-wraper {
    background: url(../images/page-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	
}


/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff5d7;
}

h4 {
    font-size: 28px;
    font-weight: 700;
    color: #fff5d7;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;  
}

ul li {
    display: list-item;
    list-style-type: circle; 
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
	min-height:100vh;
	position:relative;
}

.main-nav {
    text-align: center;
	width:100%;
	position:relative;
	top:25px;
	z-index=2;
}


.main-nav li:last-child a {
    border-bottom: 2px solid #fff5d7;
}

.main-nav li {
    display: block;
}

.main-nav li a {
	position:relative;
    line-height: max(7vh,70px);
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff5d7;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff5d7;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff5d7;
    color: #2d545e;
	
}

/* Sidebar Menu */

.bg {
	z-index:1;
	top:0;

}

.bg:after {
	content: "";
	position: absolute;
	top:0;
	left:0;
	right:0;
	margin-left: auto; 
 	margin-right: auto; 
	width:100%;
	height:max(360px,32.4vh);
  	background-color: rgba(255, 245, 215, .2);
	background-position:center;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter:blur(8px);
}

.logo {
	width:60%;
	height:60%;
	object-fit: contain;
	image-resolution: from-image;
	z-index:2;
	position: absolute;
	padding-top:10%;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	flex-grow:0;
	flex-shrink:0;
}



.logo-container {
	position: relative;
	top:0;
	left:0;
	right:0;
	margin-left: auto; 
 	margin-right: auto; 
	width:100%;
	padding-top:60px;
	height:max(360px,32.4vh);
	z-index=2;
	display:flex;
	align-items:center;
	
}



.menu .author-content {
	z-index:2;
	position: relative;
	top: 50%;
	padding-top:calc(max(180px,16.2vh)/15);
	padding-left:2%;
	padding-right:2%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	height:calc(max(360px,32.4vh)/2);
	width:100%;	
}

.menu .author-content h3 {
    margin-bottom: 0px;
	position:relative;
	font-size:calc(10px + 1vh);
	color:#e5ae2e;
	bottom:15px;
	padding-left:5px;
	padding-right:5px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
	position:relative;
	bottom:5px;
	padding-left:5px;
	color:#fff5d7;
	font-size:calc(20px + 1vh);

}

.menu .author-content span {
	font-size:calc(4px + 1vh);
    font-style: italic;
    color: #e5ae2e;
	position:relative;
	bottom:15px;
	padding-left:8px;
	padding-right:8px;
}

.menu .social-network {
    margin-top: 60px;
}

.menu .social-network ul li {
    margin: 0 3px;
    display: inline-block;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: max(5vh,40px);
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff5d7;
    font-size: 14px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: #fff5d7;
    color: #a43f49;
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: calc(5px+1vh);
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);  
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: #fff5d7;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
    z-index: 99999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #feb300;
    background-color: rgba(0,0,0,0.4);
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */
.section {
    color: #fff5d7;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}



.section-heading {
    text-align: center;
    padding: 80px 45px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff5d7;
}

.section-heading h3 {
    color: #feb300;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff5d7;
    letter-spacing: 0.5px;
}

.lang {
	color:#fff5d7;
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff5d7;
	opacity: 90%;
    color: black;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #feb300;
    color: #000;
}

button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff5d7;
	opacity: 90%;
    color: black;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

button:hover {
    background-color: #feb300;
    color: #000;
}



/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.col-md-6 {
}




.left-image img {
	
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
	width: 70%;
	height:auto;
	border-top:thin;
	border-bottom:thin;
	border-top-style:groove;
	border-bottom-style:groove;
	border-bottom-right-radius:15%; 
	border-top-right-radius: 15%;
	border-right-color:transparent;
	border-left-color:transparent;
	text-align:center;
	}



@media (min-width: 545px){
	
.left-image img{
	
	width:45%;
	max-width:340px;
    float: left;
  }
	
}

.right-image img {
	
	opacity: 80%;
	border:double;
	border-color:black;
	border-width: thick;
}


.text-center {
	left:20px;
	min-width:20%;
	
}

.right-text {
	position:relative;
	padding-right:25px;
	right:25px;
	left:25px;
	min-width:50%;	
}

.right-text h4 {
	inline-size: 200px;
	overflow:hidden;
	
}


.right-image-post ul {
    list-style: square;
    display: inline;
}



.right-image-post h4,
.left-image-post h4 {
    margin-top: 10px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}

.right-image-post {
	margin-top:10px;	
}
/* Services */

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
	z-index:0;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background: #fff5d7;
    color: #2d545e;
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}

.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.service-item .first-service-icon {
    background-image: url(../images/first-white-icon.png);
}

.service-item:hover .first-service-icon {
    background-image: url(../images/first-main-icon.png);
}

.service-item .second-service-icon {
    background-image: url(../images/second-white-icon.png);
}

.service-item:hover .second-service-icon {
    background-image: url(../images/second-main-icon.png);
}

.service-item .third-service-icon {
    background-image: url(../images/third-white-icon.png);
}

.service-item:hover .third-service-icon {
    background-image: url(../images/third-main-icon.png);
}

.service-item .fourth-service-icon {
    background-image: url(../images/fourth-white-icon.png);
}

.service-item:hover .fourth-service-icon {
    background-image: url(../images/fourth-main-icon.png);
}

section.about-me {
	border-bottom-color: transparent;
}

section.my-lang {
	padding-top:10px;
	border-top-color:transparent;
}


/* My Work */

section.my-work .section-heading {
    text-align: center;
    padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
    color: #feb300;
    border-bottom: 2px solid #a43f49;
}

.isotope-box {
    position: relative;
    width: 100%;
}

.isotope-toolbar {
    text-align: center;
    margin: 10px;
}

.isotope-toolbar p {
    border-top: 1px solid #fff5d7;
    padding-top: 15px;
}

.isotope-toolbar a {
    color: #fff5d7;
}

.isotope-item {
    position: relative;
    width: 48%;
    margin: 1%;
    border-bottom: 2px solid rgba(250,250,250,0.1);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.isotope-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lazyload {
    background: #fff5d7;
}

.lazyloading {
    background: #fff5d7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
    min-height: 60px;
}

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h4 {
    margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}
figure.snip1321 span {
    font-size: 14px;
    font-style: italic;
    display: block;
    color: #7a7a7a;
}
figure.snip1321 i {
  position: relative!important;
  font-size: 18px;
  background-color: #a43f49;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff5d7;
}

figure.snip1321:after {
  background-color: #fff5d7;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}


/* Contact Me */

section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff5d7;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff5d7;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #fff5d7;
        width: 65%;
        right: 5%;
        left: 30%;
    }
	
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
		position:center;
    }

    .menu .social-network ul li {
        margin: 0;
    }

}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

.center {
	text-align: center;
	width:100%;
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }



    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        width: 94%;
        margin: 3%;
    }
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }
}